In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
import pandas as pd
datos = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Entrenamieto_ECI_2020.csv")

datos.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [66]:
datos.columns

Index(['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',
       'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval',
       'Bureaucratic_Code_0_Approved', 'Submitted_for_Approval',
       'Bureaucratic_Code', 'Account_Created_Date', 'Source ',
       'Billing_Country', 'Account_Name', 'Opportunity_Name', 'Opportunity_ID',
       'Sales_Contract_No', 'Account_Owner', 'Opportunity_Owner',
       'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',
       'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size',
       'Product_Category_B', 'Price', 'Currency', 'Last_Activity',
       'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',
       'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP',
       'ASP_(converted)_Currency', 'ASP_(converted)',
       'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month',
       'Delivery_Quarter', 'Delivery_Year', 'Actual_Delivery_Date', 'TRF',
       'Total_Amount_Currency', 'Total_Amount',
       'Total_Taxable_Amount_Currency', 'Total_Taxable_Amount', 'Stage',
       'Prod_Category_A'],
      dtype='object')

In [67]:
datos['ID']

0        27761
1        27760
2        27446
3        16808
4        16805
         ...
16942     8781
16943     8786
16944     8792
16945    28561
16946    28318
Name: ID, Length: 16947, dtype: int64

In [68]:
datos['ID'].value_counts()

6141     1
27384    1
21263    1
19212    1
25353    1
        ..
13676    1
28007    1
25958    1
19811    1
8196     1
Name: ID, Length: 16947, dtype: int64

In [69]:
datos['Region']

0            EMEA
1            EMEA
2        Americas
3        Americas
4        Americas
           ...
16942        EMEA
16943        EMEA
16944        EMEA
16945    Americas
16946    Americas
Name: Region, Length: 16947, dtype: object

In [70]:
datos['Region'].value_counts()

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [71]:
datos['Territory']

0              None
1              None
2        NW America
3        NW America
4        NW America
            ...
16942       Austria
16943       Austria
16944       Austria
16945    NE America
16946    NE America
Name: Territory, Length: 16947, dtype: object

In [72]:
datos['Territory'].value_counts()

None               4999
Germany            1682
NW America         1568
Australia          1208
India               809
                   ...
Slovenia              1
Burma                 1
Solomon Islands       1
Croatia               1
Czech Republic        1
Name: Territory, Length: 76, dtype: int64

In [73]:
datos['Pricing, Delivery_Terms_Quote_Appr']

0        1
1        0
2        0
3        1
4        1
        ..
16942    1
16943    1
16944    1
16945    1
16946    1
Name: Pricing, Delivery_Terms_Quote_Appr, Length: 16947, dtype: int64

In [74]:
datos['Pricing, Delivery_Terms_Quote_Appr'].value_counts()

1    13693
0     3254
Name: Pricing, Delivery_Terms_Quote_Appr, dtype: int64

In [75]:
datos['Pricing, Delivery_Terms_Approved']

0        1
1        0
2        0
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    1
16946    1
Name: Pricing, Delivery_Terms_Approved, Length: 16947, dtype: int64

In [76]:
datos['Pricing, Delivery_Terms_Approved'].value_counts()

1    9890
0    7057
Name: Pricing, Delivery_Terms_Approved, dtype: int64

In [77]:
datos['Bureaucratic_Code_0_Approval']

0        1
1        0
2        0
3        1
4        1
        ..
16942    1
16943    1
16944    1
16945    1
16946    1
Name: Bureaucratic_Code_0_Approval, Length: 16947, dtype: int64

In [78]:
datos['Bureaucratic_Code_0_Approval'].value_counts()

0    8889
1    8058
Name: Bureaucratic_Code_0_Approval, dtype: int64

In [79]:
datos['Bureaucratic_Code_0_Approved']

0        1
1        0
2        0
3        0
4        0
        ..
16942    1
16943    1
16944    1
16945    1
16946    1
Name: Bureaucratic_Code_0_Approved, Length: 16947, dtype: int64

In [80]:
datos['Bureaucratic_Code_0_Approved'].value_counts()

0    11543
1     5404
Name: Bureaucratic_Code_0_Approved, dtype: int64

In [81]:
datos['Submitted_for_Approval']

0        0
1        0
2        0
3        0
4        0
        ..
16942    0
16943    0
16944    0
16945    0
16946    0
Name: Submitted_for_Approval, Length: 16947, dtype: int64

In [82]:
datos['Submitted_for_Approval'].value_counts()

0    16947
Name: Submitted_for_Approval, dtype: int64

In [83]:
datos['Bureaucratic_Code']

0        Bureaucratic_Code_4
1        Bureaucratic_Code_4
2        Bureaucratic_Code_4
3        Bureaucratic_Code_5
4        Bureaucratic_Code_5
                ...
16942    Bureaucratic_Code_4
16943    Bureaucratic_Code_4
16944    Bureaucratic_Code_4
16945    Bureaucratic_Code_4
16946    Bureaucratic_Code_4
Name: Bureaucratic_Code, Length: 16947, dtype: object

In [84]:
datos['Bureaucratic_Code'].value_counts()

Bureaucratic_Code_4    12587
Bureaucratic_Code_5     3803
Bureaucratic_Code_1      261
Bureaucratic_Code_2      242
Bureaucratic_Code_0       51
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64

In [85]:
datos['Account_Created_Date']

0         6/16/2015
1         6/16/2015
2         4/21/2015
3         7/27/2013
4         7/27/2013
            ...
16942     1/15/2016
16943     1/15/2016
16944     1/15/2016
16945    10/20/2015
16946      9/3/2015
Name: Account_Created_Date, Length: 16947, dtype: object

In [86]:
datos['Account_Created_Date'].value_counts()

4/20/2015     3011
7/27/2013     2641
9/23/2013      587
9/19/2014      397
12/21/2015     355
              ...
11/10/2015       1
3/4/2015         1
6/20/2017        1
6/25/2018        1
12/18/2013       1
Name: Account_Created_Date, Length: 809, dtype: int64

In [87]:
datos['Source ']

0             None
1             None
2         Source_7
3        Source_11
4        Source_11
           ...
16942     Source_7
16943     Source_7
16944     Source_7
16945         None
16946         None
Name: Source , Length: 16947, dtype: object

In [88]:
datos['Source '].value_counts()

None         9497
Source_7     2965
Source_9     1459
Source_11    1421
Source_13     786
Source_3      418
Source_1      137
Source_10     106
Source_2       86
Source_4       43
Source_6       19
Source_0        7
Source_12       2
Source_5        1
Name: Source , dtype: int64

In [89]:
datos['Billing_Country']

0          Netherlands
1          Netherlands
2        United States
3        United States
4        United States
             ...
16942          Austria
16943          Austria
16944          Austria
16945    United States
16946    United States
Name: Billing_Country, Length: 16947, dtype: object

In [90]:
datos['Billing_Country'].value_counts()

Japan                 4879
United States         3802
Germany               1979
Australia             1169
India                  672
                      ...
Chile                    1
Ecuador                  1
Peru                     1
Dominican Republic       1
Kenya                    1
Name: Billing_Country, Length: 80, dtype: int64

In [91]:
datos['Account_Name']

0         Account_Name_619
1         Account_Name_619
2        Account_Name_1794
3        Account_Name_1201
4        Account_Name_1201
               ...
16942     Account_Name_726
16943     Account_Name_726
16944     Account_Name_726
16945     Account_Name_944
16946    Account_Name_1401
Name: Account_Name, Length: 16947, dtype: object

In [92]:
datos['Account_Name'].value_counts()

Account_Name_1888    2124
Account_Name_1836     886
Account_Name_25       752
Account_Name_1991     586
Account_Name_1642     397
                     ...
Account_Name_1854       1
Account_Name_678        1
Account_Name_448        1
Account_Name_1699       1
Account_Name_407        1
Name: Account_Name, Length: 1635, dtype: int64

In [93]:
datos['Opportunity_Name']

0        Opportunity_Name_12598
1        Opportunity_Name_12600
2          Opportunity_Name_469
3          Opportunity_Name_415
4          Opportunity_Name_851
                  ...
16942     Opportunity_Name_9245
16943     Opportunity_Name_9245
16944     Opportunity_Name_9245
16945     Opportunity_Name_5843
16946     Opportunity_Name_9911
Name: Opportunity_Name, Length: 16947, dtype: object

In [94]:
datos['Opportunity_Name'].value_counts()

Opportunity_Name_5036     36
Opportunity_Name_9795     36
Opportunity_Name_11461    26
Opportunity_Name_12179    26
Opportunity_Name_6835     24
                          ..
Opportunity_Name_248       1
Opportunity_Name_12582     1
Opportunity_Name_3582      1
Opportunity_Name_10095     1
Opportunity_Name_11322     1
Name: Opportunity_Name, Length: 9841, dtype: int64

In [95]:
datos['Opportunity_ID']

0            0
1            1
2            2
3            3
4            4
         ...
16942    12801
16943    12801
16944    12801
16945    12802
16946    12803
Name: Opportunity_ID, Length: 16947, dtype: int64

In [96]:
datos['Opportunity_ID'].value_counts()

12460    36
2008     36
5123     26
6606     26
2911     24
         ..
7482      1
5435      1
3400      1
7498      1
0         1
Name: Opportunity_ID, Length: 9841, dtype: int64

In [97]:
datos['Account_Type']

0        Account_Type_2
1        Account_Type_2
2        Account_Type_5
3        Account_Type_5
4        Account_Type_5
              ...
16942    Account_Type_5
16943    Account_Type_5
16944    Account_Type_5
16945    Account_Type_5
16946    Account_Type_5
Name: Account_Type, Length: 16947, dtype: object

In [98]:
datos['Account_Type'].value_counts()

Account_Type_2    8832
Account_Type_0    5868
Account_Type_5    1943
Account_Type_1     165
None               112
Account_Type_6      17
Account_Type_4      10
Name: Account_Type, dtype: int64

In [99]:
datos['Opportunity_Type']

0         Opportunity_Type_1
1         Opportunity_Type_1
2         Opportunity_Type_1
3        Opportunity_Type_19
4        Opportunity_Type_19
                ...
16942     Opportunity_Type_1
16943     Opportunity_Type_1
16944     Opportunity_Type_1
16945     Opportunity_Type_1
16946    Opportunity_Type_19
Name: Opportunity_Type, Length: 16947, dtype: object

In [100]:
datos['Opportunity_Type'].value_counts()

Opportunity_Type_1     6819
Opportunity_Type_7     5763
Opportunity_Type_19    1900
Opportunity_Type_8     1458
Opportunity_Type_12     279
Opportunity_Type_3      275
Opportunity_Type_20     175
Opportunity_Type_2       70
Opportunity_Type_4       51
Opportunity_Type_10      34
Opportunity_Type_9       23
Opportunity_Type_14      15
Opportunity_Type_5       14
Opportunity_Type_18      11
Opportunity_Type_22      10
Opportunity_Type_15       9
Opportunity_Type_17       8
Opportunity_Type_0        8
Opportunity_Type_21       6
Opportunity_Type_23       5
Opportunity_Type_13       4
Opportunity_Type_16       4
Opportunity_Type_11       3
Opportunity_Type_6        2
Opportunity_Type_24       1
Name: Opportunity_Type, dtype: int64

In [101]:
datos['Quote_Type']

0        Non Binding
1        Non Binding
2        Non Binding
3        Non Binding
4        Non Binding
            ...
16942    Non Binding
16943    Non Binding
16944    Non Binding
16945    Non Binding
16946    Non Binding
Name: Quote_Type, Length: 16947, dtype: object

In [102]:
datos['Quote_Type'].value_counts()

Non Binding    16777
Binding          170
Name: Quote_Type, dtype: int64

In [103]:
datos['Delivery_Terms']

0        Delivery_Terms_2
1        Delivery_Terms_2
2        Delivery_Terms_4
3        Delivery_Terms_1
4        Delivery_Terms_1
               ...
16942    Delivery_Terms_2
16943    Delivery_Terms_2
16944    Delivery_Terms_2
16945    Delivery_Terms_4
16946    Delivery_Terms_4
Name: Delivery_Terms, Length: 16947, dtype: object

In [104]:
datos['Delivery_Terms'].value_counts()

Delivery_Terms_4    7712
Delivery_Terms_2    4633
Delivery_Terms_1    2936
Delivery_Terms_6     781
Delivery_Terms_5     636
Delivery_Terms_8     164
Delivery_Terms_3      41
Delivery_Terms_7      38
Delivery_Terms_0       6
Name: Delivery_Terms, dtype: int64

In [105]:
datos['Product_Category_B']

0                         None
1                         None
2                         None
3        Product_Category_B_16
4        Product_Category_B_16
                 ...
16942                     None
16943                     None
16944                     None
16945                     None
16946                     None
Name: Product_Category_B, Length: 16947, dtype: object

In [106]:
datos['Product_Category_B'].value_counts()

None                     15928
Other                      523
Product_Category_B_2        59
Product_Category_B_12       51
Product_Category_B_7        47
Product_Category_B_4        37
Product_Category_B_5        36
Product_Category_B_17       27
Product_Category_B_1        24
Product_Category_B_3        23
Product_Category_B_8        23
Product_Category_B_19       22
Product_Category_B_11       21
Product_Category_B_13       18
Product_Category_B_9        17
Product_Category_B_16       17
Product_Category_B_24       16
Product_Category_B_6         9
Product_Category_B_20        9
Product_Category_B_21        8
Product_Category_B_15        8
Product_Category_B_23        5
Product_Category_B_14        4
Product_Category_B_26        4
Product_Category_B_27        3
Product_Category_B_0         3
Product_Category_B_10        3
Product_Category_B_22        2
Name: Product_Category_B, dtype: int64

In [107]:
datos['Price']

0        None
1        None
2        None
3        0.42
4        0.42
         ...
16942    None
16943    None
16944    None
16945    None
16946    None
Name: Price, Length: 16947, dtype: object

In [108]:
datos['Price'].value_counts()

None     15982
Other      609
0.24        27
0.41        22
0.28        20
0.27        18
0.29        17
0.32        15
0.38        14
0.35        14
0.23        13
0.42        12
0.33        12
0.3         11
0.26        11
0.34        11
0.31        10
0.245        8
0.305        7
0.25         7
0.45         6
0.325        6
0.39         6
0.335        6
0.22         6
0.225        6
0.47         6
0.2          5
0.285        4
0.445        4
0.36         4
0.37         4
0.275        4
0.295        3
0.255        3
0.265        3
0.355        3
0.4          2
0.44         2
0.215        2
0.49         2
0.48         2
0.52         2
0.505        2
0.375        2
0.235        2
0.56         2
0.315        2
0.345        2
0.55         1
0.21         1
0.365        1
0.465        1
Name: Price, dtype: int64

In [109]:
datos['Currency']

0        None
1        None
2        None
3         USD
4         USD
         ...
16942    None
16943    None
16944    None
16945    None
16946    None
Name: Currency, Length: 16947, dtype: object

In [110]:
datos['Currency'].value_counts()

None    16052
EUR       475
USD       420
Name: Currency, dtype: int64

In [111]:
datos['Last_Activity']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
        ...
16942    NaT
16943    NaT
16944    NaT
16945    NaT
16946    NaT
Name: Last_Activity, Length: 16947, dtype: object

In [112]:
datos['Last_Activity'].value_counts()

NaT    16947
Name: Last_Activity, dtype: int64

In [113]:
datos['Quote_Expiry_Date']

0        1/30/2016
1        1/20/2016
2        9/30/2016
3              NaT
4         6/2/2017
           ...
16942          NaT
16943          NaT
16944          NaT
16945    2/29/2016
16946     1/6/2016
Name: Quote_Expiry_Date, Length: 16947, dtype: object

In [114]:
datos['Quote_Expiry_Date'].value_counts()

NaT           4625
6/30/2017      436
3/31/2017      363
9/30/2017      225
12/31/2016     200
              ...
9/16/2017        1
11/18/2015       1
3/5/2017         1
9/26/2018        1
12/11/2017       1
Name: Quote_Expiry_Date, Length: 1003, dtype: int64

In [115]:
datos['Last_Modified_Date']

0        6/13/2016
1        1/15/2016
2        9/29/2016
3        3/27/2018
4        3/27/2018
           ...
16942    1/19/2016
16943    1/19/2016
16944    1/19/2016
16945    1/22/2016
16946    9/28/2016
Name: Last_Modified_Date, Length: 16947, dtype: object

In [116]:
datos['Last_Modified_Date'].value_counts()

2/8/2018      5821
12/4/2016     2673
9/6/2018       257
9/26/2018      206
6/9/2018       187
              ...
1/11/2018        1
3/12/2015        1
3/21/2017        1
1/12/2016        1
10/30/2017       1
Name: Last_Modified_Date, Length: 650, dtype: int64

In [117]:
datos['Last_Modified_By']

0        Person_Name_18
1        Person_Name_20
2         Person_Name_8
3         Person_Name_8
4         Person_Name_8
              ...
16942    Person_Name_13
16943    Person_Name_13
16944    Person_Name_13
16945     Person_Name_3
16946     Person_Name_3
Name: Last_Modified_By, Length: 16947, dtype: object

In [118]:
datos['Last_Modified_By'].value_counts()

Person_Name_47    8515
Person_Name_50    1210
Person_Name_43     587
Person_Name_13     578
Person_Name_8      511
Person_Name_18     438
Person_Name_33     429
Person_Name_19     395
Person_Name_3      395
Person_Name_4      315
Person_Name_6      259
Person_Name_32     252
Person_Name_16     247
Person_Name_41     237
Person_Name_64     232
Person_Name_39     184
Person_Name_46     171
Person_Name_2      146
Person_Name_49     138
Person_Name_40     119
Person_Name_66     115
Person_Name_38     114
Person_Name_5       95
Person_Name_51      94
Person_Name_62      93
Person_Name_60      92
Person_Name_48      90
Person_Name_23      88
Person_Name_44      77
Person_Name_59      74
Person_Name_65      74
Person_Name_55      71
Person_Name_54      69
Person_Name_14      61
Person_Name_63      52
Person_Name_52      51
Person_Name_45      44
Person_Name_61      41
Person_Name_11      37
Person_Name_31      27
Person_Name_20      22
Person_Name_26      21
Person_Name_12      15
Person_Name_30      15
Person_Name_25      12
Person_Name_53      10
Person_Name_29       6
Person_Name_56       5
Person_Name_1        5
Person_Name_36       5
Person_Name_22       5
Person_Name_57       4
Person_Name_58       3
Person_Name_34       1
Person_Name_0        1
Name: Last_Modified_By, dtype: int64

In [119]:
datos['ASP_(converted)_Currency']

0        USD
1        USD
2        USD
3        USD
4        USD
        ...
16942    USD
16943    USD
16944    USD
16945    USD
16946    USD
Name: ASP_(converted)_Currency, Length: 16947, dtype: object

In [120]:
datos['ASP_(converted)_Currency'].value_counts()

USD    16947
Name: ASP_(converted)_Currency, dtype: int64

In [121]:
datos['ASP_(converted)']

0        0.58817
1        0.59948
2        0.48000
3        0.53000
4        0.53000
          ...
16942    0.58817
16943    0.58817
16944    0.58817
16945    0.63750
16946    0.64000
Name: ASP_(converted), Length: 16947, dtype: float64

In [122]:
datos['ASP_(converted)'].value_counts()

0.38000    570
0.40000    497
0.36000    326
0.39000    325
0.00000    300
          ...
0.32365      1
0.67868      1
0.43820      1
0.47300      1
0.30567      1
Name: ASP_(converted), Length: 441, dtype: int64

In [123]:
datos['Planned_Delivery_Start_Date']

0         5/1/2016
1        1/18/2016
2        1/25/2016
3         2/1/2018
4         2/1/2018
           ...
16942    3/21/2016
16943     4/4/2016
16944    3/28/2016
16945    4/25/2016
16946     7/1/2016
Name: Planned_Delivery_Start_Date, Length: 16947, dtype: object

In [124]:
datos['Planned_Delivery_Start_Date'].value_counts()

3/31/2016     381
2/29/2016     273
10/1/2018     211
4/2/2018      207
7/2/2018      169
             ...
7/30/2017       1
4/5/2016        1
4/3/2016        1
2/26/2017       1
10/21/2017      1
Name: Planned_Delivery_Start_Date, Length: 986, dtype: int64

In [125]:
datos['Planned_Delivery_End_Date']

0        6/30/2016
1        1/20/2016
2        1/25/2016
3        3/31/2018
4        2/28/2018
           ...
16942    3/25/2016
16943     4/8/2016
16944    3/31/2016
16945    4/29/2016
16946    8/31/2016
Name: Planned_Delivery_End_Date, Length: 16947, dtype: object

In [126]:
datos['Planned_Delivery_End_Date'].value_counts()

3/31/2016     451
6/30/2017     322
2/29/2016     300
9/28/2018     262
6/29/2018     249
             ...
9/24/2017       1
10/14/2020      1
8/26/2017       1
9/10/2019       1
11/20/2016      1
Name: Planned_Delivery_End_Date, Length: 1017, dtype: int64

In [127]:
datos['Month']

0        2016 - 5
1        2016 - 1
2        2016 - 1
3        2018 - 2
4        2018 - 2
           ...
16942    2016 - 3
16943    2016 - 4
16944    2016 - 3
16945    2016 - 4
16946    2016 - 7
Name: Month, Length: 16947, dtype: object

In [128]:
datos['Month'].value_counts()

2018 - 10    666
2017 - 6     643
2017 - 10    638
2016 - 3     628
2017 - 7     625
2017 - 5     586
2018 - 4     579
2017 - 12    574
2018 - 6     542
2018 - 7     536
2017 - 8     513
2018 - 2     498
2017 - 9     491
2017 - 3     487
2017 - 4     475
2018 - 3     467
2018 - 1     466
2018 - 5     461
2018 - 11    459
2017 - 11    450
2017 - 1     444
2018 - 8     440
2016 - 2     440
2018 - 9     406
2017 - 2     392
2016 - 4     383
2016 - 11    381
2016 - 9     380
2016 - 10    359
2016 - 6     352
2016 - 5     341
2016 - 8     313
2018 - 12    310
2016 - 7     306
2016 - 12    292
2016 - 1     196
2019 - 1     186
2019 - 2      58
2019 - 3      46
2019 - 4      44
2019 - 7      25
2019 - 6      25
2019 - 10     13
2019 - 5       8
2020 - 1       7
2019 - 8       5
2020 - 4       3
2019 - 9       2
2020 - 3       2
2020 - 9       1
2020 - 6       1
2019 - 12      1
2019 - 11      1
Name: Month, dtype: int64

In [129]:
datos['Delivery_Quarter']

0        Q2
1        Q1
2        Q1
3        Q1
4        Q1
         ..
16942    Q1
16943    Q2
16944    Q1
16945    Q2
16946    Q3
Name: Delivery_Quarter, Length: 16947, dtype: object

In [130]:
datos['Delivery_Quarter'].value_counts()

Q2    4443
Q1    4317
Q4    4144
Q3    4043
Name: Delivery_Quarter, dtype: int64

In [131]:
datos['Delivery_Year']

0        2016
1        2016
2        2016
3        2018
4        2018
         ...
16942    2016
16943    2016
16944    2016
16945    2016
16946    2016
Name: Delivery_Year, Length: 16947, dtype: int64

In [132]:
datos['Delivery_Year'].value_counts()

2017    6318
2018    5830
2016    4371
2019     414
2020      14
Name: Delivery_Year, dtype: int64

In [133]:
datos['Actual_Delivery_Date']

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
        ...
16942    NaT
16943    NaT
16944    NaT
16945    NaT
16946    NaT
Name: Actual_Delivery_Date, Length: 16947, dtype: object

In [134]:
datos['Actual_Delivery_Date'].value_counts()

NaT    16947
Name: Actual_Delivery_Date, dtype: int64

In [135]:
datos['TRF']

0        10
1         0
2         0
3        14
4        25
         ..
16942     0
16943     0
16944     0
16945     4
16946    40
Name: TRF, Length: 16947, dtype: int64

In [136]:
datos['TRF'].value_counts()

0      11971
1       2192
2        627
3        354
5        297
       ...
51         1
167        1
163        1
195        1
165        1
Name: TRF, Length: 101, dtype: int64

In [137]:
datos['Total_Amount_Currency']

0        EUR
1        EUR
2        USD
3        USD
4        USD
        ...
16942    EUR
16943    EUR
16944    EUR
16945    USD
16946    USD
Name: Total_Amount_Currency, Length: 16947, dtype: object

In [138]:
datos['Total_Amount_Currency'].value_counts()

USD    7361
JPY    4522
EUR    4503
AUD     556
GBP       5
Name: Total_Amount_Currency, dtype: int64

In [139]:
datos['Total_Amount']

0         5272800.00
1           48230.00
2           83865.60
3         7421881.50
4        13357192.50
            ...
16942      103350.00
16943       93015.00
16944      103350.00
16945     2346796.88
16946    25603200.00
Name: Total_Amount, Length: 16947, dtype: float64

In [140]:
datos['Total_Amount'].value_counts()

6200.0        513
4400.0        461
18000.0       353
140000.0      272
1600.0        204
             ...
193600.0        1
4972.8          1
8001840.0       1
12333750.0      1
11960.0         1
Name: Total_Amount, Length: 8872, dtype: int64

In [141]:
datos['Total_Taxable_Amount_Currency']

0        EUR
1        EUR
2        USD
3        USD
4        USD
        ...
16942    EUR
16943    EUR
16944    EUR
16945    USD
16946    USD
Name: Total_Taxable_Amount_Currency, Length: 16947, dtype: object

In [142]:
datos['Total_Taxable_Amount_Currency'].value_counts()

USD    7347
JPY    4525
EUR    4518
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

In [143]:
datos['Total_Taxable_Amount']

0         5272800.0
1           48230.0
2           83865.6
3         7421881.5
4        13357192.5
            ...
16942      299715.0
16943      299715.0
16944      299715.0
16945           0.0
16946           0.0
Name: Total_Taxable_Amount, Length: 16947, dtype: float64

In [144]:
datos['Total_Taxable_Amount'].value_counts()

0.0           997
588325.0       72
109620.0       68
488700.0       66
413700.0       60
             ...
18698803.2      1
27800800.0      1
215.6           1
12852000.0      1
121837.5        1
Name: Total_Taxable_Amount, Length: 7096, dtype: int64

In [145]:
datos['Stage']

0        Closed Lost
1         Closed Won
2         Closed Won
3        Closed Lost
4        Closed Lost
            ...
16942     Closed Won
16943     Closed Won
16944     Closed Won
16945    Closed Lost
16946    Closed Lost
Name: Stage, Length: 16947, dtype: object

In [146]:
datos['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [147]:
datos['Prod_Category_A']

0        Prod_Category_A_None
1        Prod_Category_A_None
2        Prod_Category_A_None
3        Prod_Category_A_None
4        Prod_Category_A_None
                 ...
16942    Prod_Category_A_None
16943    Prod_Category_A_None
16944    Prod_Category_A_None
16945    Prod_Category_A_None
16946    Prod_Category_A_None
Name: Prod_Category_A, Length: 16947, dtype: object

In [148]:
datos['Prod_Category_A'].value_counts()

Prod_Category_A_None    16947
Name: Prod_Category_A, dtype: int64